<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Invoice</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }
        th, td {
            border: 1px solid black;
            padding: 8px;
            text-align: left;
        }
    </style>
</head>
<body>
    <h1>Invoice</h1>
    <p><strong>Order ID:</strong> {{ order.order_id }}</p>
    <p><strong>Date:</strong> {{ formatted_date }}</p>

    <table>
        <thead>
            <tr>
                <th>Product</th>
                <th>Weight</th>
                <th>Quantity</th>
                <th>Unit Price</th>
                <th>Total</th> <!-- Add Total column -->
            </tr>
        </thead>
        <tbody>
            {% for item in order_items %}
            <tr>
                <td>{{ item.product.title }}</td>
                <td>{{ item.weight }}</td>
                <td>{{ item.quantity }}</td>
                <td>{{ item.unit_price }}</td>
                <td>{{ item.total_price }}</td> 
            </tr>
            {% empty %}
            <tr>
                <td colspan="5">No items found.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <h3>Grand Total: {{ invoice.total_amount }}</h3>
    
    
    <p>Thank you for your business!</p>
</body>
</html>