<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Verify OTP</title>
</head>
<body>
    <h2>Verify OTP</h2>
    <form action="" method="post">
        {% csrf_token %}
        <label for="otp">Enter OTP</label>
        <input type="text" name="otp" id="otp"  placeholder="enter 6 digit otp" required>
        <input type="submit" value="Verify OTP">
    </form>
    {% if messages %}

  <ul>

    {% for message in messages %}

      <li style="color: brown;">
          {{message}}
      </li>

    {% endfor %}

  </ul>

  {% endif %}
</body>
</html>